<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ user.username }}</p>
    <p> <iframe width="560" height="315" src="https://www.youtube.com/embed/KubpfTu4uLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
    <p><a href=" {% url 'polls:index' %}">Go to Questions list</a></p>
    <p><a href="/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    {% endif %}
</body>
</html>
